@import '../../_style-config';

.user-pic {
    position: relative;
    height: fit-content;
    font-size: 0;
    overflow: hidden;

    .user-placeholder {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 50%;
        fill: rgba(0, 0, 0, 0.2);
    }
    
    img {
        display: block;
        border-radius: 50%;
        transition: opacity 0.3s ease-in-out;
        object-fit: cover;
    }
}

.user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;

    &.text-right {
        flex-direction: row;
    }
    &.text-left {
        flex-direction: row-reverse;
    }

    span {
        font: $general;
        color: $darkGray2;
    }
}
