@import '../../_style-config';

.dropdown-trigger {
    display: flex;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-flow: column;
    width: fit-content;
    height: fit-content;
    margin: 4px 0;
    padding: 1rem 0;
    background-color: white;
    border-radius: 1rem;
    box-shadow: $flyingAbove;
    max-width: calc(100vw - 22px);
  
    .dropdown-option {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0 6px;
        height: 4rem;
        fill: currentColor;
        user-select: none;
    
        > span {
            padding: 4px 1.5rem 0 0;
            font: $general;
        }

        &:not(.disabled) {
            color: $darkGray2;
            pointer-events: all;
        }

        &.disabled {
            color: $gray2;
            pointer-events: none;
        }
    
        &:hover {
            background-color: $primaryHover;
            cursor: pointer;
            color: rgba(0,0,0,0.8);
        }
    
        &:active {
            background-color: $primary;
        }
    }
}
