@import '../../_style-config';

.card-select {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    
    .line-container {
        > span {
            font: $general;
            display: flex;
            align-items: center;
        }
        .button-group {
            display: flex;
            flex-flow: row nowrap;
        }
    }
}
