@import '../../_style-config';

.line-container {
    display: flex;
    gap: 2rem;
    flex-flow: row nowrap;
    width: 100%;

    &.align-center {
        align-items: center;
    }
    &.align-right {
        justify-content: flex-end;
    }
    &.distribute-width {
        justify-content: space-between;
    }

    .space {
        flex: 1
    }
}