@import '../../_style-config';

.user-group {
    .login-btn {
        &:not(:hover) {
            fill: $darkGray1;
        }
        &:hover {
            fill: $darkGray2;
            cursor: pointer;
        }
    }
}

.current-user-pic {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;

    .user-placeholder {
        width: 6rem;
        height: 6rem;
        
        &:not(:hover) {
            fill: $gray2;
        }
        &:hover {
            fill: $darkGray1;
            cursor: pointer;
        }
    }
    
    img {
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      transition: opacity 0.3s ease-in-out;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }
}