@import '../../_style-config';

.user-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5rem;
    
    &:hover {
        cursor: pointer;
        .user .name {
            color: $darkGray2;
        }
        .user-pic {
            opacity: 0.95;
        }
    }

    .user .name {
        margin-top: 6px;
        font: $general;
        color: $darkGray1;
        white-space: nowrap;
    }
    .login-btn {
        &:not(:hover) {
            fill: $darkGray1;
        }
        &:hover {
            fill: $darkGray2;
            cursor: pointer;
        }
    }
    .user-pic {
        .user-placeholder {
            background: none;
            &:not(:hover) {
                fill: $gray2;
            }
            &:hover {
                fill: $darkGray1;
            }
        }
    }
}
