@import '../../_style-config';

.navbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: fit-content;
    transition: all ease-in-out .15s;
    
    .with-shadow {
        box-shadow: $scrollOverlay;
    }

    .content {
        border-bottom: solid 1px $lightGray2;

        > .tooltip-trigger {
            margin-right: 1rem;
            margin-bottom: 1rem
        }
    }
}

.work-space {
    padding: 2rem calc(var(--app-body-padding) + -2rem) 1rem;
    height: 100%;
    width: 100%;
    background-color: $background;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}
