@import '../../_style-config';

.wishlist-header {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: $lightGray1;
    border-bottom: solid 1px $lightGray2;
    overflow: hidden;

    .description {
        font: $general;
        color: $darkGray2;
        display: inline-block;
        position: relative;
    }

    .user .name {
        font-weight: 700;
    }
}
