@import '../../_style-config';

.wishlist-header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 1rem;
    transition: all ease .4s;

    .dropdown-trigger .icon-button {
        height: 5.5rem !important;
    }

    .wishlist-body {
        padding: 1rem;
        flex: 1;
        display: flex;
        flex-flow: column;
        height: fit-content;
        width: auto;
        overflow: hidden;

        .preview-container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 2rem;
            width: 100%;
  
            .title-container {
              position: relative;
              height: 4rem;
              padding: 0 2rem;
              display: flex;
              align-items: center;
              white-space: nowrap;
              border-radius: 2rem;
              transition: all ease-in-out .15s;
          
              > svg {
                position: absolute;
                left: -1rem;
                top: 0;
              }
          
              .title {
                z-index: 1;
                font: $wishHeader;
                color: $darkGray2;
                min-width: 2rem;
              }
            }
        }
  
        .time-info {
            height: 4rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1rem;
            
            .small {
                font: $general;
            }
            .big {
                font: 400 2rem 'Lato', sans-serif;
            }
            &.future {
                color: $darkGray2;
            }
            &.soon {
                color: $negative;
            }
            &.past {
                color: $gray1;
            }
        
        }

        .description {
            font: $general;
            color: $darkGray2;

            &.line {
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                width: 100%;
                padding: 0 1rem;
            }

            &.full {
                display: inline-block;
                position: relative;
            }
        }
    }

    .user {
        transform-origin: center;
        transition: transform ease-in-out 0.4s;
    }

    &.on-wishlist-page {
        top: -2rem;
        padding: 2rem;
        background-color: $lightGray1;
        border-bottom: solid 1px $lightGray2;
        overflow: hidden;

        .user {
            transform: scale(1.3333);
        }

        .wishlist-body {
            gap: 3rem;

            .title-container {
                background-color: $primary;
                fill: $primary;
            }
        }
        .description.line {
            opacity: 0;
        }
        .description.full {
            opacity: 1;
        }
    }
  
    &:not(.on-wishlist-page) {
        padding: 0.5rem 2rem;

        .wishlist-body {
            gap: 1rem;
        }

        &:not(.selected) .title-container,
        &:not(:hover) .title-container {
            fill: $lightGray2;
        }
    
        .title-container {
            background-color: $lightGray2;
        }
        
        &:hover {
            background-color: $lightGray1;
            cursor: pointer;

            .user {
                transform: scale(1.06);
            }
    
            .title-container {
                background-color: $primaryHover;
                fill: $primaryHover;
            }
        }
        &.selected {
            background-color: $lightGray1;

            .user {
                transform: scale(1.3333);
            }
            .description.line {
                opacity: 0;
            }
    
            .title-container {
                background-color: $primary;
                fill: $primary;
                filter: drop-shadow(0 0 10px rgb(255, 255, 255));
            }
        }

        &.broad {
            top: -2rem;
            padding: 2rem;
        }

        .description.line {
            transition: all ease .4s;
            opacity: 1;
        }
        .description.full {
            opacity: 0;
            display: none;
        }
    }
}
