@import '../../_style-config';

.text-input {
    position: relative;
    display: flex;
    width: 100%;

    &:not(.narrow) {
        flex-flow: row nowrap;
        
        input,
        textarea {
            flex: 1
        }
    }
    &.narrow {
        flex-flow: column;
        min-width: 16rem;
    }
  
    > input {
        height: 4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  
    > textarea {
        &::-webkit-resizer {
            display: none;
        }
        &::-webkit-scrollbar {
            display: none; /* Скрыть скроллбар в Chrome и Safari */
        }
        -ms-overflow-style: none; /* Скрыть скроллбар в IE и Edge */
        scrollbar-width: none; /* Скрыть скроллбар в Firefox и других браузерах */
        
        + .icon {
            position: absolute;
            right: 0;
            bottom: 0;
            background: none;
            pointer-events: none;
            fill: $gray1;
        }
    }
    
    > input, textarea {
        padding: 11px 22px;
        border: 1px solid;
        border-color: $lightGray3;
        border-radius: 2rem;
        outline: none;
        font: $general;
        color: $darkGray2;
        cursor: default;

        &:not(:disabled) {
            box-shadow: $insetShadow;
        }

        // &:not(.auto-height) {
        //     flex: 1;
        // }
    
        &:default {
            border-color: $lightGray3;
        }

        &:hover:not(:disabled) {
            border-color: $gray1;
            box-shadow: none;
        }

        &:active:not(:disabled),
        &:focus:not(:disabled) {
            border: 1px solid $primaryDark1;
            box-shadow: none;
            background-color: $primaryLight;
    
            &::placeholder {
                opacity: 0.7;
            }
        }
    
        &::placeholder {
            color: $lightGray3;
        }
    
        &:invalid,
        &.error {
            border-color: $negative;
            // box-shadow: $insetNegativeGlow;
            box-shadow: unset;
            background-color: rgbToRgba($negativeLight, 0.1);
        }
    
        :disabled {
            background-color: $lightGray1;
            pointer-events: none;
        }
    }
    
    span.error-message {
        position: absolute;
        bottom: -18px;
        right: 0;
        font: $small;
        color: $negative;
        padding-right: 1rem;
    }

    &:not(:hover) .text-label {
        color: $darkGray1;
    }
    &:hover .text-label {
        color: $darkGray2;
    }

    .right-aligned-component {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
