@import '../../style-config';

.invitation-acceptance-page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .wishbox-preloader {
        height: 50vh;
        animation: pulseWishBoxPreloader 5s ease-in-out infinite;
        overflow: visible;

        .box {
            fill: $primary;
            transform-origin: 50% 50%;
            animation: shakeWishBox 5s ease-out infinite;
        }

        .outline {
            fill: $primaryHover;
            transform-origin: 50% 50%;
            animation: rotateWishBoxOutline 10s ease-in-out infinite;
        }
    }
}

@keyframes pulseWishBoxPreloader {
    0%, 50%, 85%, 100% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(0.8);
    }
}

@keyframes shakeWishBox {
    0%, 80%, 100% {
        transform: rotate(0deg);
    }
    84%, 92% {
        transform: rotate(-6deg);
    }
    88% {
        transform: rotate(9deg);
    }
    96% {
        transform: rotate(4deg);
    }
}

@keyframes rotateWishBoxOutline {
    0%, 70% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-400deg);
    }
    85% {
        transform: rotate(-340deg);
    }
    90% {
        transform: rotate(-370deg);
    }
    95% {
        transform: rotate(-355deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
        