@import '../../_style-config';

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $gray2;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  
    &:hover .icon {
        fill: $darkGray2;
    }

    &.loading .icon {
        opacity: 0;
    }
  
    &:disabled {
        fill: $gray1 !important;
        background: none !important;
    }
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    height: 4rem;
    padding: 0 2rem;
    font: $action;
    letter-spacing: -0.5px;
    fill: currentColor;
    outline: none;
    border: none;
    transition: all ease-in-out .12s;
    white-space: nowrap;

    &.round {
        border-radius: 6px;
    }

    &:not(:disabled):hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
    }

    &:not(.clear) {
        &:not(:disabled) {
            &.primary {
                background-color: $primary;
                color: $darkGray2;
        
                &:hover,
                &:active,
                &:focus {
                    background-color: $primaryHover;
                    border-color: $primaryHover;
                }
            }
      
            &.secondary {
                background-color: $lightGray1;
                color: $darkGray2;
                border: solid 1px $lightGray3;
        
                &:hover,
                &:active,
                &:focus {
                    background-color: $primaryHover;
                    border-color: $primaryHover;
                }
            }
        
            &.accent {
                background-color: $accent;
                color: white;
                border: none;
        
                &:hover,
                &:active,
                &:focus {
                    background-color: $accentHover;
                }
            }
        
            &.negative {
                background-color: $negative;
                color: white;
        
                &:hover,
                &:active,
                &:focus {
                    background-color: $negativeHover;
                }
            }
        }
    
        &:disabled {
            background: rgba(0,0,0,.03);
            color: rgba(0,0,0,.33);

            &:not(.accent) {
                border: solid 1px $lightGray2;
            }
        
            &.accent {
                background-color: rgba(199, 109, 241, 0.33);
                color: rgba(255, 255, 255, 0.5);
                pointer-events: none;
            }
        }
    }

    &.clear {
        background: none;
        
        &:not(:disabled):not(:hover):not(:focus):not(:active) {
            color: $gray2;
        }

        &:hover:not(:disabled),
        &:active,
        &:focus {
            color: $darkGray2;
        }

        &:disabled {
            color: rgba(0,0,0,0.2);
        }
    }
}