@import '../../_style-config';

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $gray2;
    border: none;
    background: none;
    cursor: pointer;
  
    &:hover svg {
        fill: $darkGray2;
    }
  
    &:disabled svg {
        fill: $gray1 !important;
    }
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    height: 4rem;
    padding: 0 2rem;
    font: $action;
    letter-spacing: -0.5px;
    fill: currentColor;
    outline: none;
    border: none;
    transition: all ease-in-out .12s;

    &.round {
        border-radius: 6px;
    }

    // переписать в стиле kind/state

    &:not(:disabled):hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
    }
    
    &:not(.clear){
        &:not(:disabled) {
            color: $darkGray2;
        }
    
        &:disabled {
            // opacity: 0.33;
            background: none;
            // border: solid 1px $lightGray3;
            color: rgba(0,0,0,.66);
        }

        &.secondary {
            background-color: $lightGray1;
            border: solid 1px $lightGray2;
        }

        &:not(.negative) {
            &.primary {
                background-color: $primary;

                &:hover {
                    background-color: $primaryHover;
                    border-color: $primaryHover;
                }
            }

            &.accent {
                background-color: $accent;
                color: white;
                border: none;

                &:hover:not(:disabled),
                &:active:not(:disabled),
                &:focus:not(:disabled) {
                    background-color: $accentHover;
                }

                &:disabled {
                    background-color: rgba(199, 109, 241, 0.33);
                    color: rgba(255, 255, 255, 0.5);
                    pointer-events: none;
                }
            }

            &.secondary:hover {
                background-color: $lightGray2;
            }
        }

        &.negative {
            color: white;

            &.primary {
                background-color: $negative;
            }
            &:hover {
                background-color: $negativeHover;
            }
        }
    }

    &.clear {
        background: none;
        
        &:not(:disabled):not(:hover):not(:focus):not(:active) {
            color: $gray2;
        }

        &:hover:not(:disabled),
        &:active,
        &:focus {
            color: $darkGray2;
        }

        &:disabled {
            color: rgba(0,0,0,0.2);
        }
    }
}