@import '../../_style-config';

$widthConstraint: 132rem;

.new-list-page {
    display: flex;
    flex-flow: column;
    align-items: center;

    > form {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        max-width: 150rem;
        
        .inputs {
            display: flex;
            flex-flow: column;
            width: 100%;
            max-width: $widthConstraint;

            .text-label {
                white-space: nowrap;
            }
        }

        .card-select {
            align-items: center;

            .line-container {
                max-width: $widthConstraint;
            }
        }
    }
}
