@import '../../_style-config';

.wishlist-line {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    width: 100%;

    .user-container {
        position: absolute;
        z-index: 1;
        background-color: $background;
        border-radius: 50%;
    }

    .flex-container {
        position: relative;
        display: flex;
        border-radius: 2rem;
        overflow: hidden;

        .title {
            color: $darkGray2;
            white-space: nowrap;
            min-width: 2rem;
            max-width: 100%;
            background-color: $primaryLight2;
            border-radius: 2rem;
            position: relative;
            overflow: hidden;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 4rem;
                top: 0;
            }
            &::before {
                background: linear-gradient(to left, rgbToRgba($primaryLight2, 0), rgbToRgba($primaryLight2, 1) 50%);
            }
            &::after {
                right: 0;
                background: linear-gradient(to right, rgbToRgba($primaryLight2, 0), rgbToRgba($primaryLight2, 1) 50%);
            }

            .scroll-container {
                width: 100%;
                overflow: scroll;
                
                &::-webkit-scrollbar {
                    display: none; /* Скрыть скроллбар в Chrome и Safari */
                }
                -ms-overflow-style: none; /* Скрыть скроллбар в IE и Edge */
                scrollbar-width: none; /* Скрыть скроллбар в Firefox и других браузерах */
            }
        }
    }
  
    .time-info {
        height: 4rem;
        margin: 0 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        
        .small {
            font: $general;
        }
        .big {
            font: 400 2rem 'Lato', sans-serif;
        }
        &.future {
            color: $darkGray2;
        }
        &.soon {
            color: $negative;
        }
        &.past {
            color: $gray1;
        }
    
    }
}
