@import '../../_style-config';

.wishlist-line {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 2rem;
    transition: all ease-in-out .15s;
  
    .title-container {
      position: relative;
      height: 4rem;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      white-space: nowrap;
      fill: $lightGray2;
      border-radius: 2rem;
      transition: all ease-in-out .15s;
  
      > svg {
        position: absolute;
        left: -1rem;
        top: 0;
      }
  
      .title {
        z-index: 1;
        font: $wishHeader;
        color: $darkGray2;
        min-width: 2rem;
      }
    }
  
    .description {
      font: $general;
      color: $darkGray2;
      flex-grow: 1;
      padding: 0 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .time-info {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1rem;
      
      .small {
        font: $general;
      }
      .big {
        font: 400 2rem 'Lato', sans-serif;
      }
      &.future {
        color: $darkGray2;
      }
      &.soon {
        color: $negative;
      }
      &.past {
        color: $gray1;
      }
  
    }
  
    .dropdown {
      position: absolute;
      right: -4rem;
      z-index: 2;
    }
  
    &:not(.on-wishlist-page) {
      padding: 0.5rem 2rem;
  
      .title-container {
        background-color: $lightGray2;
      }
      
      &:hover {
        background-color: $lightGray1;
        cursor: pointer;
  
        .title-container {
          background-color: $primaryHover;
          fill: $primaryHover;
        }
      }
    }
  
    &.selected {
      background-color: $lightGray1;
  
      .title-container {
        background-color: $primary;
        fill: $primary;
        filter: drop-shadow(0 0 10px rgb(255, 255, 255));
      }
  
      &.on-wishlist-page {
        padding: 1rem 2rem;
        top: -2rem;
        border-bottom: solid 1px $lightGray2;
      }
    }
  
  
  }