@import '../../_style-config';

.select-box {
    display: flex;
    flex: 1 1;

    &:not(.narrow) {
        flex-flow: row nowrap;
    }
    &.narrow {
        flex-flow: column;

        > div {
            min-width: unset;
        }
    }
}