@import '../../_style-config';

.wishcard {
    background-color: $lightGray1;
    flex: 1 1;
    border-radius: $bigStep;
    overflow: hidden;
    transition: all .2s ease-in-out;
    position: relative;

    &.processing {
        opacity: 0.5;
        pointer-events: none !important;
    }
  
    &:not(.selected) {
        box-shadow: $lyingCard;
    }
  
    &:not(:hover) {
        .user {
            opacity: 0;
        }
    }
    &:hover {
        &:not(.selected) {
            box-shadow: $flyingAbove;
        }
        .user {
            opacity: 1;
        }
        &.of-friend .wish-cover.no-image .star-rating {
            left: 6rem
        }
    }
  
    &.view {
        &:hover {
            cursor: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9926 8.99259C12.0976 8.99259 12.9926 9.88759 12.9926 10.9926C12.9926 12.0951 12.0976 12.9926 10.9926 12.9926C9.88759 12.9926 8.99259 12.0951 8.99259 10.9926C8.99259 9.88759 9.88759 8.99259 10.9926 8.99259ZM18.9926 10.9926C17.4926 13.9926 14.9926 15.9926 10.9951 15.9926C6.99258 15.9926 4.49259 13.9926 2.99259 10.9926C4.49259 7.99259 6.99258 5.99259 10.9951 5.99259C14.9926 5.99259 17.4926 7.99259 18.9926 10.9926Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9926 8.99259C12.0976 8.99259 12.9926 9.88759 12.9926 10.9926C12.9926 12.0951 12.0976 12.9926 10.9926 12.9926C9.88759 12.9926 8.99259 12.0951 8.99259 10.9926C8.99259 9.88759 9.88759 8.99259 10.9926 8.99259ZM18.9926 10.9926C16.9926 7.99259 13.9926 5.99259 10.9951 5.99259C8.00758 5.98009 4.99259 7.99259 2.99259 10.9926C4.99259 13.9926 7.99258 15.9926 10.9951 15.9926C13.9926 15.9926 16.9926 13.9926 18.9926 10.9926ZM19.9926 10.9926C18.4926 13.9926 14.9926 16.9926 10.9951 16.9926C6.99255 16.9926 3.49255 13.9926 1.99255 10.9926C3.49255 7.99255 6.99255 4.99255 10.9951 4.99255C14.9926 4.99255 18.4926 7.99255 19.9926 10.9926Z' fill='black'/%3E%3C/svg%3E%0A") 11 11, default;
        }
    }
  
    &.input {
        .selection-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $primary;
            border-radius: 1rem;
            background-color: rgba(248, 237, 143, 0.15);
            box-shadow: $insetGlow;
        }
        &:hover {
            cursor: pointer;
            
            .selection-mask {
                background-color: rgba(248, 237, 143, 0.05);
            }
        }
    }
  
    .wishcard-content {
        display: inline-block;
        width: 100%;
    
        .title {
            color: $darkGray2;
        }
    
        .price {
            position: relative;
            padding-left: 32px;
            float: right;
            color: $gray2;
            font-weight: 500;
            font: $price;
    
            &::before {
                content: '';
                position: absolute;
                transform: translate(-50%, -50%);
                left: 24px;
                top: 16px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: $gray1;
            }
        }
    }
  
    .button {
        border: none !important;
        border-top: solid 1px $lightGray3 !important;
        width: 100%;
    }
}

.fade-in {
    animation: fadeIn ease .3s;
}


@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-ms-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}