@import '../../_style-config';


.wish-page {
    position: relative;
    height: 100%;

    &.processing {
        opacity: 0.5;
        pointer-events: none !important;
    }

    .first.column .wish-cover {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        svg.placeholder {
            display: block;
            width: 100%;
            fill: $lightGray2;
        }
    
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    .second.column {
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        padding: 2rem 0;
    
        .header {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            position: relative;
    
            .title {
                font: $wishPageHeader;
                color: $darkGray2;
                white-space: pre-line;
            }
    
            a {
                display: flex;
                flex-flow: row nowrap;
            }

            .dropdown-trigger {
                top: -5px;
                left: 0;
                display: inline !important;
            }
        }
    
        .info {
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
    
            .info-field {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 2rem;
        
                .label {
                    font: $general;
                    color: $gray2;
                }
        
                .links {
                    display: flex;
                    flex-flow: row wrap;
                }
        
                .wishlist-not-found {
                    font: $general;
                    color: $negative;
                }
            }
    
            .description {
                position: relative;
                display: inline-block;
                filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
                
                a {
                    word-break: break-all;
                };
        
                .description-pointer {
                    height: 2rem;
                    fill: white;
                    width: fit-content;
                }
        
                .description-container {
                    display: flex;
                    flex-flow: column;
                    font: $general;
                    color: $darkGray2;
                    background-color: white;
                    padding: 1rem 2rem;
                    border-radius: 1rem;

                    > span {
                        min-height: 1.5rem;
                    }
                }
            }
        }
    
        .actions {
            width: fit-content;
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;
    
            .price {
                font: $wishPageHeader;
                color: $darkGray2;
            }
    
            button {
                border-radius: $smallStep;
            }
        }
    }
}