@import '../../_style-config';


.app-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.scroll-container {
    display: flex;
    flex-shrink: 0;
    overflow-x: scroll;
    width: inherit;
}

.equalize-container {
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;

    .space {
        flex: 1
    }
}
  
.app-header {
    position: relative;
    width: fit-content;
    height: $appHeaderHeight;
    background-color: $primaryLight;
    border-bottom: solid 1px $lightGray2;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;

    .user-group,
    .section-switcher,
    .creation-group {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
    }
}
