// Sizes:
$smallStep: 4px;
$bigStep: 11px;
$appHeaderHeight: 8rem;
// Colors:
$primary: rgb(243, 230, 114);
$primaryHover: rgb(248, 237, 143);
$primaryGhost: rgb(255, 254, 248);
$primaryLight: rgb(255, 253, 240);
$primaryLight2: rgb(240, 240, 228);
$primaryDark1: rgb(209, 195, 69);
$primaryDark2: rgb(92, 84, 25);
$accent: rgb(199, 109, 241);
$accentHover: rgb(207, 131, 242);
$positive: rgb(111, 197, 85);
$positiveHover: rgb(203, 250, 188);
$negative: rgb(243, 67, 88);
$negativeHover: rgb(247, 90, 108);
$negativeLight: rgb(248, 226, 228);
$lightGray1: rgb(250, 250, 250);
$lightGray2: rgb(229, 229, 223);
$lightGray3: rgb(212, 212, 212);
$gray1: rgb(197, 197, 197);
$gray2: rgba(0, 0, 0, 0.4);
$darkGray1: rgb(119, 119, 119);
$darkGray2: rgb(80, 80, 80);

$background: $primaryGhost;

@function rgbToRgba($rgb, $alpha) {
    $rgba: rgba($rgb, $alpha);
    @return $rgba;
}

// Shadows:
$lyingCard: 0 1px 2px 0 rgba(0,0,0,.17), 0 1px 5px 0 rgba(0,0,0,.08);
$flyingAbove: 0 4px 10px 0 rgba(0,0,0,.17), 0 10px 30px 0 rgba(0,0,0,.07);
$scrollOverlay: 0 6px 6px 0 rgba(135, 128, 128, 0.09), 0 11px 11px 0 rgba(0,0,0,.04);
$weakShadow: 0 8px 15px 0 rgba(0,0,0,.04), 0 10px 30px 0 rgba(0,0,0,.02);
$glow: 0px 0px 11px $primary;
$insetGlow: inset 0px 0px 11px rgba(243, 230, 114, 0.3);
$insetNegativeGlow: inset 0px 0px 11px rgba(243, 67, 88, 0.2);

//fonts
$general: 400 16px/22px 'Lato', sans-serif;
$small: 400 13px/16px 'Lato', sans-serif;
$appHeader: 400 20px/32px 'RoundedMplus1c', sans-serif;
$navbar: 400 18px/22px 'RoundedMplus1c', sans-serif;
$navbarMobile: 400 16px/22px 'RoundedMplus1c', sans-serif;
$action: 400 16px/30px 'GothamPro', sans-serif;
$wishHeader: 500 18px/32px 'GothamPro', sans-serif;
$wishHeaderMobile: 500 14px/28px 'GothamPro', sans-serif;
$wishlistHeader: 500 18px/32px 'GothamPro', sans-serif;
$wishlistHeaderMobile: 500 16px/30px 'GothamPro', sans-serif;
$wishPageHeader: 500 30px/44px 'RoundedMplus1c', sans-serif;
$price: 400 18px/32px 'GothamPro', sans-serif;
$status: 600 13px/22px 'Lato', sans-serif;
$info: 500 20px/30px 'RoundedMplus1c', sans-serif;