@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato'), local('lato'),
    url('../public/fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('../public/fonts/Lato/Lato-Regular.woff') format('woff'),
    url('../public/fonts/Lato/Lato-Regular.ttf') format('ttf'),
    url('../public/fonts/Lato/Lato-Regular.eot') format('eot');
}

// Sizes:
$smallStep: 4px;
$bigStep: 11px;
$sidebarWidth: 22*$bigStep;
$appHeaderHeight: 8*$bigStep;

// Colors:
$primary: #F3E672;
$primaryHover: #F8ED8F;
$primaryLight: #FBF8DD;
$positive: #BCF4AB;
$positiveHover: #CBFABC;
$negative: #F34358;
$negativeHover: #F85669;
$lightGray1: #FAFAFA;
$lightGray2: #EEEEEE;
$lightGray3: #E3E3E3;
$gray1: #C5C5C5;
$gray2: #999999;
$darkGray1: #777777;
$darkGray2: #505050;

// Shadows:
$lyingCard: 0 1px 4px 0 rgba(0,0,0,.17), 0 3px 6px 0 rgba(0,0,0,.1);
$flyingAbove: 0 8px 15px 0 rgba(0,0,0,.1), 0 10px 40px 0 rgba(0,0,0,.07);
$glow: 0 0 $bigStep 0 rgba(243,230,114,.7);

//fonts
$general: normal 16px/22px 'Lato', sans-serif;
$action: 500 18px/25px 'Nunito', sans-serif;
$wishHeader: 500 20px/28px 'Montserrat Alternates', sans-serif;
$price: 400 22px/33px 'Montserrat Alternates', sans-serif;
$link: normal 18px/33px 'Lato', sans-serif;
$sidebarHeader: 700 20px/30px 'Nunito', sans-serif;
$appHeader: 500 18px/24px 'Montserrat Alternates', sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
}

.link {
  font: $link;
  letter-spacing: 1px;
  &:link {
    color: $darkGray1;
  }
  &:visited {
    color: $gray1;
  }
  &:hover {
    color: $darkGray2;
  }
}

.button {
  width: 100%;
  height: 5*$bigStep;
  background-color: $primary;
  border: none;
  font: $action;
  letter-spacing: 0.5px;

  &:hover {
    background-color: $primaryHover;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $gray2;
  border: none;
  background: none;

  &:hover svg {
    fill: $darkGray2;
  }

  &:disabled {
    fill: $gray1;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighter {
  position: absolute;
  background-color: $primary;
  border-radius: 2*$bigStep;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.app-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  width: 100%;
  height: $appHeaderHeight;
  background-color: $lightGray1;
  border-bottom: solid 1px $lightGray2;
  display: flex;
  flex-direction: row;

  .logo {
    width: $sidebarWidth;
    height: 100%;
    padding: $bigStep 2*$bigStep;

    .logo-btn {
      display: block;
      width: 100%;
      height: 100%;
      padding: inherit;
      border-radius: 44px;
      background-color: $primary;
      fill: $darkGray2;

      &:hover {
        background-color: $primaryHover;
      }
    }
  }

  .tab-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 2*$bigStep;
    transition: all 1s ease-in-out;
    z-index: 2;

    .header-nav {
      display: inline-block;
      padding: 0 $bigStep;
      font: $appHeader;
      text-decoration: none;
      color: $gray2;
      cursor: default;
    }

    a.active, a:hover {
      color: $darkGray2;
    }
  }
}

.app-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 1px;
}

.sidebar {
  width: $sidebarWidth;
  height: 100%;
  background-color: $lightGray1;
  border-right: solid 1px $lightGray2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  .side-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7*$bigStep;
    padding: $bigStep 0;
    align-items: center;

    span {
      display: block;
      flex: 1;
      padding-left: 2*$bigStep;
      font: $sidebarHeader;
    }
  }

  .side-nav {
    width: 100%;
    height: fit-content;
    font: $action;
    padding: 15px 2*$bigStep;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $gray2;
    z-index: 1;

    &.active, &:hover {
      color: $darkGray2;
    }
  }

  .divider {
    width: 100%;
    height: 2*$bigStep;
    border-bottom: 1px solid $lightGray2;
  }
}

.work-space {
  padding: 2*$bigStep;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}

.wish-card {
  background-color: $lightGray1;
  max-width: 30*$bigStep;
  min-width: 20*$bigStep;
  flex: 1 1;
  border-radius: $bigStep;
  overflow: hidden;
  box-shadow: $lyingCard;
  transition: all .5s ease-out;

  img {
      width: 100%;
  }

  .wish-content {
    width: 100%;
    padding: 2*$bigStep;

    .wish-name {
      display: block;
      font: $wishHeader;
      margin-bottom: 2*$bigStep;
      color: $darkGray2;
    }

    .wish-description {
      margin-bottom: 2*$bigStep;
      color: $gray2;
      font: $general;
    }

    .price {
      font: $price;
      color: $darkGray2;
    }

    .link {
      float: right;
    }
  }
}