@import './style-config';
@import './_fonts';

    
.beta {
    position: absolute;
    bottom: 0;
    right: -1rem;
    background-color: rgba(199, 109, 241, 0.5);
    border-radius: 1rem;
    width: 4rem;
    height: 2rem;
    font: $small;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

html {
    font-size: 11px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    background-color: $background;
}

#dropdown-root, #modal-root, #tooltip-root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    > div {
        width: 100%;
        height: 100%;
    }
}
#dropdown-root {
    z-index: 7;
    > div {
        pointer-events: all;
    }
}
#tooltip-root {
    z-index: 8;
}
#modal-root {
    z-index: 9;
}

*, *:before, *:after {
    box-sizing: border-box;
    // scrollbar-color: rgba(255,255,255, 0.01) $gray1;
    scrollbar-width: 2rem;

    &:hover {
        scrollbar-color: white $gray1;
    }
}
  
a.active, a:hover {
    color: $darkGray2;
}
  
.icon-link {
    &:not(:hover) {
        fill: $gray2;
    }
    &:hover {
        fill: $darkGray2;
    }
}

.invis {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    border: none;
}

.inline-link {
    font: $general;
    letter-spacing: 1px;

    &:link {
        color: $darkGray2;
    }
    &:visited {
        color: $gray2;
    }
    &:hover {
        color: $darkGray2;
        text-decoration: none;
    }

    .icon {
        margin-left: 1rem;
    }
}

button {
  background: none;
  border: none;
  padding: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $lightGray2;
    margin: 1rem 0;
}
