@import './style-config';



.login-page {
    &:not(.narrow) {
        >.logo-icon {
            margin: 1rem 0;
        }
        >form .inputs .visible {
            &.text-input,
            &.password-input,
            &.checkbox {
                height: 4rem;
            }
        }
    }

    &.narrow {
        >.logo-icon {
            margin: 0;
        }
        >form .inputs .visible{
            &.text-input,
            &.password-input {
                height: 7rem;
            }
            &.checkbox {
                height: 5rem;
            }
        }
    }
}

.app-layout {
    &:not(.mobile) {
        ::-webkit-scrollbar {
            position: absolute;
        }
        ::-webkit-scrollbar-thumb {
            background-color: $gray1;
            border-radius: 100vw;
            border: solid 5px $background;
            transition: all 0.3s ease-in-out;
            &:hover {
                border: solid 4px white;
                background-color: $gray2;
            }
        }

        .button {
            &:not(.clear):not(:disabled) {
                &.primary {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $primaryHover;
                        border-color: $primaryHover;
                    }
                }
                &.secondary {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $primaryHover;
                        border-color: $primaryHover;
                    }
                }
                &.accent {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $accentHover;
                    }
                }
                &.negative {
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $negativeHover;
                    }
                }
            }
            &.clear {
                &:not(:disabled):not(:hover):not(:focus):not(:active) {
                    color: $gray2;
                }

                &:hover:not(:disabled),
                &:active,
                &:focus {
                    color: $darkGray3;
                }
            }
        }

        .work-space {
            padding: 2rem 8rem 1rem;
        }

        .navbar .bread-crumbs {
            margin-bottom: 1rem;
            padding: 0 1rem;

            .nav-elem {
                height: 4rem;
                font: $navbar;
                &.option {
                    padding: 0 2rem;
                }
            }
            .bc-slider {
                bottom: 12px;
            }
        }

        .wishcard {
            &:not(:hover) .star-rating {
                opacity: 0.5;
            }
            &:hover .star-rating {
                opacity: 1;
            }
            .wishcard-content {
                padding: $bigStep 2*$bigStep;
                .title {
                    font: $wishHeader;
                }
            }
            .wish-cover .status-bar.shifted {
                right: 4rem;
            }
        }
        
        .wishlist-line {
            height: 7rem;
            padding: 0.5rem;

            .user-container {
                padding: 0.5rem;
            }

            .user {
                transform-origin: center;
                transition: transform ease-in-out 0.4s;
            }

            .flex-container {
                // 100% - (margin-left + menu button width (5))
                width: calc(100% - 6.5rem);
                margin-left: 1.5rem;
                min-width: 20rem;
                transition: margin ease-in-out 0.4s;

                .title {
                    padding: 0.5rem 0.5rem 0.5rem 4.5rem;
                    font: $wishlistHeader;

                    &::before,
                    &::after {
                        width: 3rem;
                    }
                    &::before {
                        left: 2rem;
                    }

                    .scroll-container {
                        padding: 0 2rem;
                    }
                }
            }

            &:hover {
                background-color: $lightGray1;
                cursor: pointer;

                .user {
                    transform: scale(1.06);
                }
                
                .flex-container {
                    margin-left: 2rem;
                }
            }
        }

        .wishlist-header {
            top: -2rem;
            padding: 2rem;
            min-width: 40rem;

            .description {
                margin: 0 7rem;
                // add padding on a blur glass card if wihlist with cover
                // padding: 0.5rem;
            }
        }

        .list-of-lists-page .plug {
            padding-left: 3.5rem;
        }

        .wish-page {
            .first.column .wish-cover {
                min-height: 30rem;
            }
            .second.column .title {
                text-indent: 6rem;
                margin: 0 4rem 1rem 0;
            }
        }
        
        .new-list-page form {
            gap: 3rem;
        }

        textarea {
            height: 12rem;
            min-height: 6rem;
        }

        .date-select {
            flex-flow: row nowrap;

            .react-datepicker-popper {
                inset: 4rem 0 auto auto !important;
            }
        }

        .card-select {
            .line-container .button-group {
                gap: 2rem;
            }
        }

        .image-input {
            &.no-image {
                gap: 2rem;
            }
            .container {
                min-height: 30rem;
            }
            &.preview .close-btn {
                right: 0;
                top: 0;
            }
  
            &.droppable,
            &:hover {
                cursor: pointer;
                .button {
                    background-color: $primaryHover !important;
                    border-color: $primaryHover !important;
                }
                svg.placeholder {
                    background-color: $primaryLight;
                    fill: $primaryHover;
                    opacity: 0.6;
                }
            }
        }

        .double-column-layout {
            > div {
                gap: 1rem;
            }
            .column > .line-container {
                gap: 2rem;
            }
        }

        form .inputs {
            display: flex;
            flex-flow: column;
            gap: 2rem;
        }

        .wish-preloader {
            height: 60%;
            width: 60%;
        }
    }

    &.mobile {
        *::-webkit-scrollbar {
            display: none; /* Скрыть скроллбар в Chrome и Safari */
        }
        -ms-overflow-style: none; /* Скрыть скроллбар в IE и Edge */
        scrollbar-width: none; /* Скрыть скроллбар в Firefox и других браузерах */

        .button.clear {
            color: $gray2;
        }

        .work-space {
            padding: 0;
        }

        .navbar {
            width: 100%;

            .bread-crumbs {
                .icon-link {
                    &.invisible {
                        visibility: hidden;
                        width: 2rem
                    }
                    &.right {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        flex-shrink: 0;
                    }
                }
                &.tabs .icon-link.right {
                    width: 5rem;
                    justify-content: flex-start;
                }
                &.crumbs .icon-link.right {
                    width: 6rem;
                    justify-content: center;
                }

                .wishlist-menu,
                .wish-menu {
                    width: 6rem;
                    height: 6rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .nav-elem {
                    height: 6rem;
                    font: $navbarMobile;
                }
                &.tabs {
                    padding: 0 0 0 1rem;
                    .nav-elem.option {
                        flex: 1;
                        flex-basis: content;
                        justify-content: center;
                    }
                }
                &.crumbs {
                    padding: 0;
                    width: 100%;

                    .nav-elem {
                        &:not(.active) {
                            display: none;
                        }
                        &.active {
                            width: 100%;
                            overflow: scroll;
                        }
                    }
                }
                .bc-slider {
                    bottom: 23px;
                }
                &:not(.with-shadow) {
                    border-bottom: solid 1px $lightGray2;
                }
            }
        }

        .wishcard {
            .star-rating {
                opacity: 1;
            }
            .wish-cover {
                min-width: unset !important;

                .status-bar.shifted {
                    right: 0.5rem;
                }
            }
            .wishcard-content {
                padding: calc($bigStep / 2) $bigStep;
                .title {
                    font: $wishHeaderMobile;
                }
            }
        }

        .wishlist-line {
            height: 6rem;

            .user-container {
                left: 0.25rem;
                padding: 0.25rem;
            }

            .flex-container {
                // 8rem = margin-left + menu button width (5)
                width: calc(100% - 8rem);
                margin-left: 3rem;

                .title {
                    padding: 0.5rem 1rem 0.5rem 2.5rem;
                    font: $wishlistHeaderMobile;

                    &::before,
                    &::after {
                        width: 2rem;
                    }

                    &::before {
                        left: 1.5rem;
                    }

                    .scroll-container {
                        padding: 0 1rem;
                    }
                }
            }

            .wishlist-menu svg {
                left: 2rem
            }
        }

        .wishlist-header {
            padding: 1rem;
            
            .description {
                margin: 1rem;
            }
        }

        .list-of-lists-page {
            padding-top: 1rem;
            .plug {
                padding: 1rem 1.5rem 2rem;
            }
        }

        .wish-page {
            .second.column {
                padding: 1rem 2rem 4rem;

                .title {
                    margin-bottom: 1rem;
                }
            }
        }

        .new-list-page form {
            .inputs {
                padding: 1rem;

                .line-container {
                    gap: 1rem
                }
            }
        }

        textarea {
            min-height: 10rem;
        }

        .date-select {
            flex-flow: column;

            .react-datepicker-popper {
                inset: 7rem 0 auto auto !important;
            }

            .react-datepicker-popper,
            .custom-calendar,
            .react-datepicker__month-container {
                width: 100%;
            }
        }

        .card-select {
            .line-container {
                flex-flow: column;
                padding: 1rem 0;

                span {
                    padding: 0 2rem;
                }

                .button-group {
                    // justify-content: space-between;
                    flex-flow: row-reverse;
                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex: 1
                    }
                }
            }
        }

        .image-input {
            &.no-image {
                gap: 1rem;
            }
            .container {
                min-height: 100px;
                padding: 1rem;
            }
            .button {
                margin-bottom: 2rem;
            }
            &.preview .close-btn {
                right: 1rem;
                top: 1rem;
            }
        }

        .double-column-layout {
            > div {
                gap: 1rem;
            }
            .divider {
                margin: unset;
            }
            .second.column .inputs {
                padding: 1rem;
            }
            .column .line-container {
                gap: 1rem;
                align-items: flex-end;
            }
            .column > .line-container {
                padding: 1rem 2rem 2rem;
            }
        }

        form .inputs {
            display: flex;
            flex-flow: column;
            gap: 1rem;
        }

        #modal-root .button {
            padding: 0 1.5rem
        }

        .wish-preloader {
            height: 40%;
            width: 40%;
        }
    }
}
