@import '../../_style-config';


.spinner-container {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    display: flex;

    .children-container {
        display: flex;
        transition: opacity 0.3s ease-in-out;
        
        &:not(.loading) {
            opacity: 1;
        }

        &.loading {
            opacity: 0.3;
        }
    }
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotate 2s linear infinite;
    
    &.primary {
        filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .4));

        circle {
            stroke: $primary;
        }
    }
    
    &.dark circle {
        stroke: $darkGray2;
    }
    
    &.light circle {
        stroke: white;
    }
  
    circle {
        stroke-linecap: round;
        animation: dash 1.5s cubic-bezier(.4,.2,.6,.8) infinite;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 4, 999;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 208, 999;
        stroke-dashoffset: -104;
    }
    100% {
        stroke-dasharray: 277, 999;
        stroke-dashoffset: -277;
    }
}
